.App {
  text-align: left;
  display: grid;
  grid: repeat(6, fit-content(300px)) / repeat(4, 1fr);
  /* border-color: grey;
  border-style: dashed; */
  grid-template-areas:
    "top top top top"
    "article article article article"
    "article article article article"
    "article article article article"
    "article article article article"
    "article article article article";
  background-color: rgb(0, 0, 51);
  color: white;

  /* color: #e3a559;  border*/
  /* color: #a24c3e;  number */
  /* color: #818e5b;
  background-color: #151515; */
}

ol {
  padding: 0px;
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}
.App_Top_Container {
  /* border-style: dashed;
  border-color: red; */
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 8fr 2fr;
  grid-area: top;
}

.App_Top_Header {
  /* border-style: dashed;
  border-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vh;
  justify-content: flex-start;
}

.App_Top_LoginButton_Container {
  /* border-style: dashed;
  border-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.App_Top_Navbar {
  /* border-style: dashed;
  border-color: blue; */
  color: white;
}

.ListOfArticles_Container {
  /* border-style: dashed;
  border-color: green; */
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 30px auto;
  grid-template-areas:
    "top right"
    "left right";
}
@media (max-width: 500px) {
  .ListOfArticles_Container {
    /* border-style: dashed;
  border-color: green; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 30px auto;
    grid-template-areas:
      "top top"
      "left left";
  }
}
.ListOfArticles_Right {
  grid-area: right;
  background-image: linear-gradient(rgb(223, 222, 222), rgb(205, 211, 218));
  border-style: groove;
  border-color: black;
  margin: 38px 10px 0 10px;
}

.ListOfArticles_SortBar {
  /* border-style: dashed;
  border-color: green; */
  grid-area: top;
  color: white;
}

.ListOfArticles_Articles {
  /* border-style: dashed;
  border-color: green; */
  display: flex;
  flex-direction: row;
  grid-area: left;
}

.ListOfArticles_Cards {
  /* border-style: dashed;
  border-color: brown; */
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-areas: "left right";
  align-items: center;
  padding: 0px;
  margin: 1vh 0 1vh 0;
  border-color: rgb(205, 149, 12);
  border-style: double;
  border-width: 1vw;
  border-radius: 25px;
  background-color: rgb(224, 224, 224);
  /* background-image: linear-gradient(
    to left,
    rgb(151, 151, 151),
    rgb(17, 20, 62)
  ); */
  /* replace the align-items */
}

.ListofArticles_Cards_Info {
  /* border-style: dashed;
  border-color: brown; */
  grid-area: right;
  display: grid;
  align-self: stretch;
  grid-template-rows: 0.1fr 0.1fr 100px;
  text-align: center;
  font-size: 2vw;
  background-color: rgb(238, 178, 27);
  color: black;
  border-radius: 0px 12px 12px 0px;
}
.ListofArticles_Cards_Info:hover {
  box-shadow: rgb(205, 149, 12);
  -webkit-box-shadow: -3px 0px 8px 2px;
}

.ListofArticles_Cards_Info time {
  font-size: 2vh;
  color: rgb(0, 0, 51);
  text-align: center;
  align-self: center;
  margin-top: 10px;
}

.ListofArticles_Cards_Info h1 {
  font-size: 4vh;
  color: rgb(0, 0, 51);
  border-top: 10px double white;
  border-bottom: 10px double white;
}

.ListofArticles_Cards_Info p {
  display: inline-block;

  padding: 0.4em 1.2em;
  /* border: 0.7em double rgb(205, 149, 12); */
  border-top: 10px double white;
  border-bottom: 10px double white;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 2vh;
  font-weight: 900;
  color: rgb(0, 0, 51);
  text-align: center;
  align-self: center;
  transition: all 0.2s;
}
.ListofArticles_Cards_Info p:hover {
  columns: #000000;
  background-color: #ffffff;
  border-top: 10px double rgb(205, 149, 12);
  border-bottom: 10px double rgb(205, 149, 12);
}
.ListofArticles_Cards_Info p:active {
  background-color: rgb(0, 0, 51);
}
/* @media all and (max-width: 30em) {
  .ListofArticles_Cards_Info_View {
    display: block;
    margin: 04em auto;
  }
} */

.ListofArticles_Cards_Title {
  /* border-style: dashed;
  border-color: brown; */
  grid-area: left;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "top top"
    "left right";
}

.ListofArticles_Cards_Title_Title {
  grid-area: top;
  text-align: left;
  color: black;
  font-size: 3vh;
}

.Article_Container {
  /* border-style: dashed;
  border-color: green; */
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 200px minmax(40vh, auto) auto;
  grid-template-areas:
    "top right"
    "center right"
    "left right";
}

.Article_Right {
  grid-area: right;
  background-image: linear-gradient(rgb(223, 222, 222), rgb(205, 211, 218));
  border-style: groove;
  border-color: rgb(255, 255, 255);
  margin: 0px 10px 0 10px;
}

.ListOfArticles_Articles_Body {
  /* border-style: dashed;
  border-color: green; */
  grid-area: center;
  border-style: double;
  border-color: #e3a559;
  background-color: white;
}

.Article_Body {
  /* border-style: dashed;
  border-color: blue; */
  margin: 1vh 5vw 1vh 5vw;
  /* padding: 1vh 4vh 1vh 4vh; */
}

.Article_Title {
  grid-area: top;
  /* border-style: dashed;
  border-color: green; */
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "left topright"
    "left right";
}

.Article_Title_Title {
  /* border-style: dashed;
  border-color: brown; */
  grid-area: left;
  display: grid;
  grid-template-rows: auto 30px;
  grid-template-areas:
    "top"
    "bottom";
}
.Article_Title_Header {
  grid-area: top;
  /* border-style: dashed;
  border-color: black; */
  margin: 0px;
  justify-content: center;
  align-self: center;
}

.Article_Title_Author {
  grid-area: bottom;
  /* border-style: dashed;
  border-color: purple; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0px;
}

.Article_Title_Likes {
  grid-area: topright;
  /* border-style: dashed;
  border-color: brown; */
  margin: 0px;
  align-self: auto;
}

.Article_Title_Commentbutton {
  grid-area: right;
  /* border-style: dashed;
  border-color: brown; */
  text-align: center;
  align-self: stretch;
}

.Article_Comments {
  grid-area: right;
  /* border-style: dashed;
  border-color: brown; */
  grid-area: left;
}

.Button_Container {
  /* border-style: dashed;
  border-color: black; */
  display: block;
}

.Comments_Card {
  /* border-style: dashed;
  border-color: blue; */
  border-style: double;
  border-color: #e3a559;
  background-color: white;
  margin: 2px;
}
.TopicsPage_Container {
  /* border-style: dashed;
  border-color: green; */
  display: grid;
  grid-template-rows: 60px auto;
}

.ListTopics {
  /* border-style: dashed;
  border-color: blue; */
  display: flex;
  padding: 10vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Indv_Topics {
  padding: 5vh;
  margin: 10px;
  border-style: double;
  border-color: white;
  border-width: 2vh;
  font-size: 40px;
}

.putBorder {
  /* border-style: dashed;
  border-width: 1px; */
  /* border-color: grey; */
}

main {
  display: grid;
  grid-area: article;
  /* border-style: dashed;
  border-color: red; */
}

.Border {
  border-style: solid;
  border-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
